*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gap:0.75rem;
    --primary-color: #790909;
}

@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h2{
    margin: calc(var(--gap) * 2.5) 0 var(--gap);
    color: var(--primary-color);
}
p{
    max-width: 30.5em;
    margin-bottom: var(--gap);
}
ul{
    list-style: none;
    margin-bottom: var(--gap);
}
.nav-links{
    display: flex;
        justify-content: space-between;
        gap: var(--gap);
}
li{
    margin-bottom: calc(var(--gap))/2;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-column: 1/-1;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 1.25rem;
}
.container__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-inline: 1.25rem;
}
.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.rslogo{
    aspect-ratio: 300/111;
    max-width: 300px;
}

.c2{
    max-width: 500px;
}

